.donor-registration-bg{
    background-image: url("../../Resources/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: overlay;
    background-position: center;
    object-fit: cover;
}