.search-bar{
    width: 100%;
    max-width: 300px;
    background: #17203F;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 3px 10px;
    margin: 0 auto;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 3px 15px;
    font-size: 17px;
    color: #ffffff;
    
}
.search-bar button{
    background-color: #17203F;
    padding: 10px;
    border-radius: 35px;
}
.search-icon {
    color: white;
}

.custom-height{
    height: calc(100vh - 70px)
}