.banner-container {
    background-image: url("../../Resources/blood-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .2);
    background-blend-mode: overlay;
    background-position: center;
    object-fit: cover;
}
.donor-registration-bg{
    background-image: url("../../Resources/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: overlay;
    background-position: center;
    object-fit: cover;
}

.banner-title {
    font-family: 'Anek Bangla', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner-text{
    font-family: 'Anek Bangla', sans-serif;
}

.button{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Anek Bangla', sans-serif;
    /* height: 40px;
    width: 200px; */
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .3s ease-in-out;
}
.button:hover{
    background-color: #FE3C47;
    color: white;
}
.redColor{
    background-color: #FE3C47;
}